<div>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li> <a href="#">Home</a></li>
                <li> <a ng-click="prof()" ng-show="postj === true">Post Job</a> </li>
                <li> <a ng-click="searchjob()" ng-show="sj === true">Search Job</a> </li>
                <li> <a ng-click="logout()">Logout</a> </li>
            </ul>
        </div>
    </nav>
</div>
<div style="margin-top: 5%; margin-left: 1%">
    <h1><label>Welcome {{name}} !!!</label></h1>
</div>